@import "_variables";


.calculator {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;

    &__display {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20%;
      width: 95%;
      margin: 10px;
      color: $text-color;
      font-family: $font;
      font-size: 1.5em;
    }

}