@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.calculator {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 70px;
  background-color: black;
  font-size: 20px;
  box-shadow: 9px 8px 8px 1px rgba(88, 105, 147, 0.85);
}
.calculator__display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: 120px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.calculator__display p {
  height: 90px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .calculator {
    width: 100%;
    height: 100%;
    justify-content: center;
    box-shadow: none;
  }
  .calculator__display {
    width: 350px;
  }
}