@import "_variables";


.calculator {
  width: 70vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-size: 20px;

    &__display {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 10%;
      width: 95%;
      margin: 15px;
      color: $text-color;
      font-family: $font;
      font-size: 2em;
    }

}


@media screen and (min-width: 768px) {
   .calculator {
      
    &__display {
      height: 25%;
      font-size: 4em;
      
    }
   }
  
}

@media screen and (min-width: 1024px) {
  .calculator {
      
    &__display {
      height: 25%;
      font-size: 5em;
    }
   }
  
  
}