@import "_variables";


.calculator {
  width: 100vw;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-size: 20px;

    &__display {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 15%;
      width: 95%;
      margin: 15px;
      color: $text-color;
      font-family: $font;
      font-size: 2em;
    }

}


