@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
 @import "_variables";
 @import "_calculator";
 @import "_keypad";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;

  align-items: center;
}