@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.calculator {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 70px;
  background-color: black;
  font-size: 20px;
  box-shadow: 9px 8px 8px 1px rgba(88, 105, 147, 0.85);
}
.calculator__display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: 120px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.calculator__display p {
  height: 90px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .calculator {
    width: 100%;
    height: 100%;
    justify-content: center;
    box-shadow: none;
  }
  .calculator__display {
    width: 350px;
  }
}
.calculator__keys {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  justify-items: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.calculator__keys__misc {
  background-color: #d4d4d4;
  color: black;
}
.calculator__keys__numbers {
  background-color: #505050;
  color: white;
}
.calculator__keys__actions {
  background-color: #FF9500;
  color: white;
}
.calculator__keys button {
  min-width: 65px;
  min-height: 65px;
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}
.calculator__keys button:hover {
  opacity: 0.6;
}
.calculator__keys__zero {
  grid-column: 1/3;
  background-color: #505050;
  color: white;
}

#zero {
  width: 160px;
  height: 65px;
  border-radius: 40px;
  text-align: left;
  padding-left: 20px;
}

@media screen and (max-width: 500px) {
  .calculator__keys {
    width: 350px;
    height: 600px;
  }
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  padding: 20px 0 0 20px;
  color: #0a0a3d;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  h1 {
    display: none;
  }

  main {
    background: black;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(315deg, #586993 0%, #a1aaaa 20%, #b5c5af 39%, #b5c5af 61%, #a1aaaa 80%, #586993 100%);
}

@media screen and (max-width: 500px) {
  body {
    background: black;
  }
}